body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 255, 0, .8);
}

header, footer {
  width: 100vw;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background: gold;
}

footer {
  position: sticky;
  border-top: 1px solid black;
}

h1 {
  padding: 5px 0 ;
  font-family: 'Coda Caption', sans-serif;
  font-size: 2.3rem;
  color: #000;
}

#outerbody {
  width: 650px;
  height: 650px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#pad-container {
/*   border: 1px solid green; */
  width: 600px;
  height: 600px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.touchpads {
/*   border: 1px solid red; */
  width: 280px;
  height: 280px;
}
#pad0 {
  border-radius: 100% 0 0 0;
  margin: 0 10px 10px 0;
  background: rgb(204, 255, 0);
}
#pad1 {
  border-radius: 0 100% 0 0;
  margin: 0 0 10px 10px;
  background: rgb(255, 0, 204);
}
#pad2 {
  border-radius: 0 0 0 100%;
  margin: 10px 10px 0 0;
  background: rgb(255, 204, 51);
}
#pad3 {
  border-radius: 0 0 100% 0;
  margin: 10px 0 0 10px;
  background: rgb(170, 240, 209);
}
#pad0:active {
   background: rgb(204, 255, 0);
   opacity: 1;
}
#pad1:active {
  background: rgb(255, 0, 204);
  opacity: 1;
}
#pad2:active {
  background: rgb(255, 204, 51);
  opacity: 1;
}
#pad3:active {
  background: rgb(170, 240, 209);
  opacity: 1;
}

.opacityDim {
 opacity: .8;
}
.opacityFull {
 opacity: 1;
}

/* Center Control Panel*/
#control-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: black;
  border-radius: 50%;
  border-radius: 100%;
}

#control-panel h3 {
  margin: 33px 0 21px 0;
  padding: 0 0 0 0 ;
  font-family: 'Coda Caption', sans-serif;
  font-size: 2.3rem;
  color: #FFF;
}

#ctrl-btn-container {
  width: 220px;
  height: 135px;
/*   margin-top: 5px; */
  border-radius:  0 0 220px 220px;
  background-color: silver; /* For browsers that do not support gradients */
  background-image: radial-gradient(#C8C8C8, #DCDCDC, #B0B0B0); /* Standard syntax (must be last) */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}

.game-skill-sliders {
  width: 100%;
  grid-row: 1 / 1 ;
  grid-column: 1 / span 5;
  display: flex;
  justify-content: space-evenly;

}

.game-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.on-off {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

label {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 5px;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 60px;
	margin: 0px;
	padding: 0px;
  background: #000;
  height: 13px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: radial-gradient(#FFF, green);
  height:11px;
  width:11px;
/* 	border-radius:100%; */
	cursor:pointer;
}

.ctrl-btns-container {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.ctrl-btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: black;
}
.red {
  background: red;
  border: 1px solid red;
  box-shadow: 0 0 5px white;
  opacity: 1;
  outline: none;
}
.yellow {
  background: yellow;
  border: 1px solid yellow;
  box-shadow: 0 0 7px white;
  opacity: 1;
  outline: none;
}
.red:active,
.yellow:active {
  opacity: .6;
}

.on-off-container {
  display: flex;
  justify-content: center;
}

#on-off-slider {
  width: 30px;
}
